/* Custom definitions */

emoji {
    font-size:150%;
}

.p-icon:hover {
    color: #9627ba;
    transform: scale(1.3);
    transition: 0.35s ease;
}

.hlink:hover {
    color: #9627ba !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;  
}

@keyframes heartbeat
{
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale( 0.90 );
  }
  20% {
    transform: scale( 0.85);
  }
  30% {
    transform: scale( 0.80 );
  }
  40% {
    transform: scale( 0.75 );
  }
  50% {
    transform: scale( 0.70 );
  }
  60% {
    transform: scale( 0.75 );
  }
  70% {
    transform: scale( 0.80 );
  }
  80% {
    transform: scale( 0.85 );
  }
  90% {
    transform: scale( 0.90 );
  }
  100% {
    transform: scale(1);
  }
}

.card.pheart:hover .big.red.heart.outline.icon {
  animation: heartbeat 0.7s infinite;
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}