/* Custom definitions */

emoji {
    font-size:150%;
}

.p-icon {
  color: #00b5ad73;
}

.p-icon:hover {
    color: #9627ba;
    transform: scale(1.3);
    transition: 0.35s ease;
}

.hlink {
  color: #00b5adc4 !important
}

.hlink:hover {
    color: #9627ba !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;  
}

@keyframes heartbeat
{
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale( 0.90 );
  }
  20% {
    transform: scale( 0.85);
  }
  30% {
    transform: scale( 0.80 );
  }
  40% {
    transform: scale( 0.75 );
  }
  50% {
    transform: scale( 0.70 );
  }
  60% {
    transform: scale( 0.75 );
  }
  70% {
    transform: scale( 0.80 );
  }
  80% {
    transform: scale( 0.85 );
  }
  90% {
    transform: scale( 0.90 );
  }
  100% {
    transform: scale(1);
  }
}

.card.pheart:hover .big.red.heart.outline.icon {
  animation: heartbeat 1s infinite;
}

.zoom {
  transition: transform .3s; /* Animation */
}

.zoom:hover {
  transform: scale(2.2);
  z-index: 1;
  border-style: groove;
  border-width: 1px;
  border: 0.5px solid #fff0d7;
  box-shadow: 0 1px 2px 0 #e0f6e8;
}

.medium-amp1_3:hover {
  transform: scale(1.3) !important;
}

.medium-amp2:hover {
  transform: scale(2.0) !important;
}

.pjustify {
  text-align: justify !important;
}

.floating-menu {
  /*font-family: sans-serif;*/
  background: #a333c869;
  padding: 15px 5px 15px 5px;
  width: auto;
  z-index: 100;
  position: fixed;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 10px;
}
.floating-menu h3 {
  font-size: 1em;
  text-transform: capitalize;
  display: block;
  margin: 0 0.5em;
  color: white;
}

:root {
  --mainColor: #a333c8;
}

.floating-menu a{
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 1px,
       transparent 2px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: white;
  padding-left: 10px;
  text-decoration: none;
}

.floating-menu a:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}

.profile-pic {
  max-width: 400px !important;
  border-radius: 20px !important;
}

.footer-custom {
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 15px;
}

.menu-custom {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 40px !important;
}

.stackable-custom {
  background: #FFFA9E !important; 
  font-size: 20px !important; 
  font-weight: bold !important;
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 115px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.top-pad {
  padding-top: 2% !important;
}

.h-img {
  height:250px !important;
  width: auto !important;
}

/* For mobile phones */
@media only screen and (max-width: 1580px) {
  
  .ui.container.container-custom {
    display: flow-root;
  }

  .footer-custom {
    position: relative;
    margin-top: 20px;
  }
}

/* For screen width less than 1050px phones */
@media only screen and (max-width: 1050px) {
  .profile-pic {
    max-width: 100% !important;
  }
}

/* For screen width less than 1650px */
@media only screen and (max-width: 1650px) {
  .floating-menu {
    display: none;
  }
}

/* For screen width less than 928px */
@media only screen and (max-width: 928px) {
  .stackable-custom {
    height: inherit;
  }

  .ui.stackable.menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .custom-margin {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.menu .active.item {
    border-radius: inherit;
  }

  .zoom:hover {
    transform: none !important;
  }

  .menu-custom {
    margin-bottom: unset !important;
  }

}

/* For screen width less than 410px */
@media only screen and (max-width: 410px) {
  .menu-custom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .bottom-gap {
    margin-bottom: 5px;
  }

}

/* For screen width less than 490px */
@media only screen and (max-width: 490px) {
  
  .medium-amp2, .medium-amp1_3 {
    float: none !important;
    display: inline-flex !important;
  }
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:22px;
  /*margin-left:30px;
  padding: 14px 14px 14px 14px;*/
  border-style:dashed;
  border-width: 0px;
  /*
  max-width: 200px;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;*/
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
    font-size: 20px;
}




