<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">


  <title>
    {% if page.title %}
    {{ page.title }} |
    {% endif %}
    {{ site.title }}
  </title>

  <!-- Load Javascript and CSS for Semantic UI -->
  <style> {% include critical/critical.css %}</style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/css/semantic-ui/semantic.min.js"></script>
  <script src="{{ site.baseurl }}/js/custom.js"></script>
  <link rel="preload" href="{{ site.baseurl }}/css/semantic-ui/semantic.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <!-- Load custom CSS for the personal webpage speficific design -->
  <link rel="preload" href="{{ site.baseurl }}/css/custom.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin&display=swap" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link href="{{site.baseurl}}/feed.xml" type="application/rss+xml" rel="alternate" title="Latest blog posts (atom)" />
</head>
