<div class="main-content">
  <div style="margin-top: 10px;background-color: #61ffd933;border-radius: 5px 5px 0px 0px;border-style: double solid none solid;" class="ui stackable grid container resume">

    <div class="sixteen wide column no-bottom">
      <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
    </div>

    <div class="eight wide left aligned column">
      {% include bio-network-links.html %}
    </div>

    <div class="eight wide right aligned column">
      {% include bio-address.html %}
    </div>
  </div>

  <div style="background-color: #61ffd933;border-radius: 0px 0px 5px 5px;border-style: none solid double solid;" class="ui stackable grid container resume">
    <!--#4CC8C31A-->
    {% include bio-interests.html %}
    {% include bio-skills.html %}
    {% include bio-education.html %}
    {% include bio-complementary-education.html %}
    {% include bio-work.html %}
    {% include bio-volunteer.html %}
    {% include bio-publications.html %}
    {% include bio-awards.html %}
    {% include bio-references.html %}
  </div>
</div>