<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div style="text-align: center" class="column">
    <div  class="ui rounded image">
      <img style="max-width: 300px" src="{{ site.data.bio.basics.picture }}">
    </div>
  </div>

  <div class="column">
    <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p class="">{{ site.data.bio.basics.label }}</p>
    <p class="">
      <!--{{ site.data.bio.basics.summary }}-->
      <h3 class="header no-bottom">Welcome to my home page!</h3>
      <br>
      I am a passionate engineer driven to solve real world problems by means of science, engineering, coding and entrepreneurship.<br> 
      <br>
      My exploration has gone through a diverse set of projects in which mixed and multidisciplinary skills were always essential. For instance, 
      <ul> 
        <li>Magnetic levitation system</li>
       <li>Robots for surveillance in closed spaces and medical assistance for the elderly</li>
       <li>Smart water meter</li>
       <li>Musical device to create music from motion and spatial gestures</li>
       <li>Eolic energy generator</li>
       <li>Drone for aerial photography</li>
      </ul>
      During the development of these projects I have learned what is needed to create software 
      and physical devices by facilitating the convergence of disciplines such as mathematics, 
      physical modeling, computer science, hardware and design in the context of a multidisciplinary 
      and multicultural work team.<br> 
      <br>
      Please check out my projects and essays sections for more information!
    </p>
    <p>Interests:
      {% for interest in site.data.bio.interests %}
        {{ interest.name }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </p>
    <p style="text-align: center">
      {% include home-network-links.html %}
    </p>
    <p style="text-align: center">
      <a href="{{ site.baseurl}}/projects/">
        <button class="huge ui olive button">Projects ({{ num_projects }})</button>
      </a>
      <a href="{{ site.baseurl}}/essays/">
        <button class="huge ui teal button">Essays ({{ num_essays }})</button>
      </a>
      <a href="{{ site.baseurl}}/bio/">
        <button class="huge ui purple button">{{ site.bio-page-label }}</button>
      </a>
    </p>
  </div>
</div>
