---
layout: essays
---

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text justified container main-content">
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date | date: "%b %d, %Y %H:%M %Z"}}</span>
  <hr>
  <div class="posts-item-note">
    {% for tag in page.tags %}
    {% if page.tags.first == tag %}
    <b>[</b>
    {% endif %}
    <a class="hlink post-tags" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
    {% if page.tags.last == tag %}
    <b>]</b>
    {% else %}
    ,
    {% endif %}
    {% endfor %}
  </div>

  {{ content }}
</div>
